{% load static%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="{% static 'images/GoClimb Logo 50px.png' %}">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<!--<link href="css/tiny-slider.css" rel="stylesheet">-->
		<link href="{% static '/css/style.css' %}" rel="stylesheet">

		<title>Profile Dashboard</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<div class="hero-img-wrap">
					<img src="{% static 'images/GoClimb Logo 50px.png' %}" class="img-fluid">
				</div>

				<span>&nbsp;&nbsp;&nbsp;</span>
			
				<a class="navbar-brand" href="/home" style="color: #F5F0BB;">GoClimb<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li><a class="nav-link" href="/home">Home</a></li>
						<li><a class="nav-link" href="/weather">Weather</a></li>
						<li><a class="nav-link" href="/ARroute">AR Route</a></li>
						<li><a class="nav-link" href="/forum">Forum</a></li>
						<li><a class="nav-link" href="/search">Search Crags</a></li>
						<li><a class="nav-link" href="/contact">Contact us</a></li>
						{% if user.account.is_admin %}
						<li><a class="nav-link" href="/adminPortal">Admin</a></li>
						{% endif %}
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li style="margin-right: 5px;"><a class="nav-link" href="/profile"><img src="{% static 'images/user.svg' %}"></a></li>
						<!-- <li><a class="nav-link" href="cart.html"><img src="images/cart.svg"></a></li> -->
                        {% if user.is_authenticated %}
						<li>
							<a class="nav-link" href="/notifications"><img src="{% static 'images/envelope-outline.svg'%}"></a></li>
						</li>
						<li>
							<button id="emergency" style="background: transparent; border: none; padding: 8px; cursor: pointer;"><img width="30" src="{% static 'images/emergency-icon.png'%}" alt="Call Emergency"/></button>
						</li>
						<li>
							<p><a href="/logout" class="btn btn-secondary me-2">Logout</a>
						</li>
						{% endif %}
					</ul>

				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
					<div class="container" >
						{% if user.is_authenticated %}
							{% if user.account.profileSuspended %}
							<h1>Profile Suspended</h1>
							{% else %}
							<div class="row">
								<div class="col-lg-4">
									<div class="profile-left">
										<div class="user-profile-card">
											<h3>Profile</h3>
											<a class="nav-link" href="#"><img src="{% static 'images/user-profile-icon.png' %}" height="40px"></a></li>
											<div class="details">
												<p>{% if user.is_authenticated%}
													{% if user.account.is_premium %}
													<b>Premium</b><br>
													{% endif %}
													@{{user}} <br>
													{% if user.first_name and user.last_name%}
													Name: {{user.first_name}} {{user.last_name}}<br>
													{% endif %}
													{% if user.email %}
													Email: {{user.email}} <br>
													{% endif %}
													
												{% else %}
													@user_name <br>
												{% endif %}<a href="/viewFollowers/{{user.id}}">{{user.account.followersCount}} Followers</a> &nbsp; <a href="/viewFollowings/{{user.id}}">{{user.account.followingsCount}} Following</a><br>

													{% if user.is_authenticated %}
													<b><a href="/editLogin/{{user.id}}">Edit Account</a></b>
													{% endif %}

													<br>
													{% if user.account.facebookLink != "Empty" %}
													<br><a href="{{user.account.facebookLink}}" target="_blank">Facebook</a>
													{% endif %}

													{% if user.account.youtubeLink != "Empty" %}
													<br><a href="{{user.account.youtubeLink}}" target="_blank">Youtube</a>
													{% endif %}

													{% if user.is_authenticated %}
														{% if user.account.facebookLink == "Empty" and user.account.youtubeLink == "Empty" %}
															<br><b><a href="/editSocialMedia/{{user.id}}">Add Social Media</a></b>
														{% else %}
															<br><b><a href="/editSocialMedia/{{user.id}}">Edit Social Media</a></b>
														{% endif %}
													{% endif %}

													<br>Emergency Contact: {{user.account.emergencyContact}}
													<br>Emergency Contact Name: {{user.account.emergencyContactName}}
													{% if user.is_authenticated %}
													<br><b><a href="/editEmergency/{{user.id}}">Edit Emergency Contact</a></b>
													{% endif %}

													<br>
													<br>Last Coordinate: {{user.account.lastCoor}} 
													<br>Last Coordinate Date: {{user.account.lastCoorDate}}
													{% if user.account.tracking %}
													<br><b><a href="/untrack/">Stop Tracking</a></b>
													{% else %}
													<br><b><a href="/track/">Start Tracking</a></b>
													{% endif %}

													{% if user.is_authenticated and user.is_superuser == False %}
													<br><b><a href="/suspendProfile/{{user.id}}">Delete Profile</a></b>
													{% endif %}
												</p>
											</div>
										</div>
										{% if user.account.badgePosition == 1 %}
											<div class="user-profile-card">
												<div class="favourite-activities">
													<h3>Badges Showing</h3>
													{% for badge in user.account.showingBadges.all %}
													{{badge}} <br>
													{% endfor %}
													<br><a href="/viewAvailableBadges/">View All Badges</a>
												</div>
												<br>
												<a href="/movedown/4/"><u>Move Down</u></a>
											</div>
											<div class="user-profile-card">
												<div class="favourite-activities">
													<h3>Recommended Routes</h3>
													<p>
														{% for recommendation in recommendations%}
														{{recommendation}} 	&#40;Altitude: {{recommendation.altitude}}m&#41; <br>
														{% endfor %}
													</p>
													<h3>Recommended Training Plans</h3>
													<p>
														{% for plan in training_plans %}
														<a href="{{plan.link}}" target="_blank"><u>{{plan.title}}</u></a><br>
														{% endfor %}
													</p>
													{% if certificates != none %}
													<h3>Recommended Certificates</h3>
													<p>
														{% for cert in certificates %}
														<a href="{{cert.link}}" target="blank"><u>{{cert.title}}</u></a><br>
														{% endfor %}
													</p>
													{% endif %}
												</div>
												<a href="/moveup/5/"><u>Move Up</u></a>
											</div>
										{% else %}
											<div class="user-profile-card">
												<div class="favourite-activities">
													<h3>Recommended Routes</h3>
													<p>
														{% for recommendation in recommendations%}
														{{recommendation}} 	&#40;Altitude: {{recommendation.altitude}}m&#41; <br>
														{% endfor %}
													</p>
													<h3>Recommended Training Plans</h3>
													<p>
														{% for plan in training_plans %}
														<a href="{{plan.link}}" target="blank"><u>{{plan.title}}</u></a><br>
														{% endfor %}
													</p>
													{% if certificates != none %}
													<h3>Recommended Certificates</h3>
													<p>
														{% for cert in certificates %}
														<a href="{{cert.link}}" target="blank"><u>{{cert.title}}</u></a><br>
														{% endfor %}
													</p>
													{% endif %}
												</div>
												<a href="/movedown/5/"><u>Move Down</u></a>
											</div>
											<div class="user-profile-card">
												<div class="favourite-activities">
													<h3>Badges Showing</h3>
													{% for badge in user.account.showingBadges.all %}
													{{badge}} <br>
													{% endfor %}
													<br><a href="/viewAvailableBadges/">View All Badges</a>
												</div>
												<br>
												<a href="/moveup/4/"><u>Move Up</u></a>
											</div>
										{% endif%}
									</div>
								</div>
								<div class="col-lg-8">
									<div class="profile-right">
										{% if user.account.aboutPosition == 1 %}
											<div class="user-profile-card">
												<h3>About</h3>
												<b><a href="/editAbout/{{user.id}}">Edit About</a></b>
												<div class="details">
													<p>
														{{user.account.about|linebreaksbr}}
													</p>
												</div>
												<a href="/movedown/1/"><u>Move Down</u></a>
											</div>
											{% if user.account.historyPosition == 2 %}
												<div class="user-profile-card">
													<div class="favourite-activities">
														<h3>History</h3> 
														{% if user.is_authenticated %}
														<b><a href="/createClimbActivity">Add A New Climbing Activity</a></b>
														{% endif %}
														<p>
															{% for activity in user.activities.all %}
															{{activity.locName}}, {{activity.distance}}m, {{activity.date}}, {{activity.timeCompleted}} <br>
															{% endfor %}
														</p>
														<h3>Summary</h3>
														Total Route Climbed: {{user.account.totalRoute}} <br>
														Total Distance Climbed: {{user.account.totalDistance}}m
														<br> <br>
														<h3>Statistics</h3>
														<h5>Last Week</h5>
														<p>
															Total Route Climbed: {{result.total_route_climbed_last_week}} <br>
															Total Distance Climbed: {{result.total_dist_last_week}}m <br>
															Average Time Per Climbing: {{result.time_per_route_week}} &#40;hh:mm:ss&#41;<br>
															Average Distance Per Climbing: {{result.distance_per_route_week}}m <br>
														</p>
														<h5>Last Month</h5>
														<p>
															Total Route Climbed: {{result.total_route_climbed_last_month}} <br>
															Total Distance Climbed: {{result.total_dist_last_month}}m <br>
															Average Time Per Climbing: {{result.time_per_route_month}} &#40;hh:mm:ss&#41; <br>
															Average Distance Per Climbing: {{result.distance_per_route_month}}m <br>
														</p>
													</div>
													<a href="/moveup/2/"><u>Move Up</u></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/movedown/2/"><u>Move Down</u></a>
												</div>
												<div class="user-profile-card">
													<div class="favourite-activities">
														<h3>Achievements</h3>
														<p>
														{% for achievement in user.account.achievements.all %}
														<b>{{achievement.title}}</b> - {{achievement.description}} <br>
														{% endfor %}
														</p>
													</div>	
													<a href="/moveup/3/"><u>Move Up</u></a>
												</div>
											{% else %}
												<div class="user-profile-card">
													<div class="favourite-activities">
														<h3>Achievements</h3>
														<p>
														{% for achievement in user.account.achievements.all %}
														<b>{{achievement.title}}</b> - {{achievement.description}} <br>
														{% endfor %}
														</p>
													</div>
													<a href="/moveup/3/"><u>Move Up</u></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/movedown/3/"><u>Move Down</u></a>
												</div>
												<div class="user-profile-card">
													<div class="favourite-activities">
														<h3>History</h3> 
														{% if user.is_authenticated %}
														<b><a href="/createClimbActivity">Add A New Climbing Activity</a></b>
														{% endif %}
														<p>
															{% for activity in user.activities.all %}
															{{activity.locName}}, {{activity.distance}}m, {{activity.date}}, {{activity.timeCompleted}} <br>
															{% endfor %}
														</p>
														<h3>Summary</h3>
														Total Route Climbed: {{user.account.totalRoute}} <br>
														Total Distance Climbed: {{user.account.totalDistance}}m
														<br> <br>
														<h3>Statistics</h3>
														<h5>Last Week</h5>
														<p>
															Total Route Climbed: {{result.total_route_climbed_last_week}} <br>
															Total Distance Climbed: {{result.total_dist_last_week}}m <br>
															Average Time Per Climbing: {{result.time_per_route_week}} &#40;hh:mm:ss&#41;<br>
															Average Distance Per Climbing: {{result.distance_per_route_week}}m <br>
														</p>
														<h5>Last Month</h5>
														<p>
															Total Route Climbed: {{result.total_route_climbed_last_month}} <br>
															Total Distance Climbed: {{result.total_dist_last_month}}m <br>
															Average Time Per Climbing: {{result.time_per_route_month}} &#40;hh:mm:ss&#41; <br>
															Average Distance Per Climbing: {{result.distance_per_route_month}}m <br>
														</p>
													</div>
													<a href="/moveup/2/"><u>Move Up</u></a>
												</div>
											{% endif %}
										{% endif %}
										
										{% if user.account.historyPosition == 1 %}
											<div class="user-profile-card">
												<div class="favourite-activities">
													<h3>History</h3> 
													{% if user.is_authenticated %}
													<b><a href="/createClimbActivity">Add A New Climbing Activity</a></b>
													{% endif %}
													<p>
														{% for activity in user.activities.all %}
														{{activity.locName}}, {{activity.distance}}m, {{activity.date}}, {{activity.timeCompleted}} <br>
														{% endfor %}
													</p>
													<h3>Summary</h3>
													Total Route Climbed: {{user.account.totalRoute}} <br>
													Total Distance Climbed: {{user.account.totalDistance}}m
													<br> <br>
													<h3>Statistics</h3>
													<h5>Last Week</h5>
													<p>
														Total Route Climbed: {{result.total_route_climbed_last_week}} <br>
														Total Distance Climbed: {{result.total_dist_last_week}}m <br>
														Average Time Per Climbing: {{result.time_per_route_week}} &#40;hh:mm:ss&#41;<br>
														Average Distance Per Climbing: {{result.distance_per_route_week}}m <br>
													</p>
													<h5>Last Month</h5>
													<p>
														Total Route Climbed: {{result.total_route_climbed_last_month}} <br>
														Total Distance Climbed: {{result.total_dist_last_month}}m <br>
														Average Time Per Climbing: {{result.time_per_route_month}} &#40;hh:mm:ss&#41; <br>
														Average Distance Per Climbing: {{result.distance_per_route_month}}m <br>
													</p>
												</div>
												<a href="/movedown/2/"><u>Move Down</u></a>
											</div>
											{% if user.account.aboutPosition == 2 %}
												<div class="user-profile-card">
													<h3>About</h3>
													<b><a href="/editAbout/{{user.id}}">Edit About</a></b>
													<div class="details">
														<p>
															{{user.account.about|linebreaksbr}}
														</p>
													</div>
													<a href="/moveup/1/"><u>Move Up</u></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/movedown/1/"><u>Move Down</u></a>
												</div>
												
												<div class="user-profile-card">
													<div class="favourite-activities">
														<h3>Achievements</h3>
														<p>
														{% for achievement in user.account.achievements.all %}
														<b>{{achievement.title}}</b> - {{achievement.description}} <br>
														{% endfor %}
														</p>
													</div>	
													<a href="/moveup/3/"><u>Move Up</u></a> 
												</div>
											{% else %}
												<div class="user-profile-card">
													<div class="favourite-activities">
														<h3>Achievements</h3>
														<p>
														{% for achievement in user.account.achievements.all %}
														<b>{{achievement.title}}</b> - {{achievement.description}} <br>
														{% endfor %}
														</p>
													</div>
													<a href="/moveup/3/"><u>Move Up</u></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/movedown/3/"><u>Move Down</u></a>
												</div>
												<div class="user-profile-card">
													<h3>About</h3>
													<b><a href="/editAbout/{{user.id}}">Edit About</a></b>
													<div class="details">
														<p>
															{{user.account.about|linebreaksbr}}
														</p>
													</div>
													<a href="/moveup/1/"><u>Move Up</u></a> 
												</div>
											{% endif %}
										{% endif %}

										{% if user.account.achievementPosition == 1 %}
											<div class="user-profile-card">
												<div class="favourite-activities">
													<h3>Achievements</h3>
													<p>
													{% for achievement in user.account.achievements.all %}
													<b>{{achievement.title}}</b> - {{achievement.description}} <br>
													{% endfor %}
													</p>
												</div>	
												<a href="/movedown/3/"><u>Move Down</u></a>
											</div>
											
											{% if user.account.aboutPosition == 2 %}
												<div class="user-profile-card">
													<h3>About</h3>
													<b><a href="/editAbout/{{user.id}}">Edit About</a></b>
													<div class="details">
														<p>
															{{user.account.about|linebreaksbr}}
														</p>
													</div>
													<a href="/moveup/1/"><u>Move Up</u></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/movedown/1/"><u>Move Down</u></a>
												</div>
												
												<div class="user-profile-card">
													<div class="favourite-activities">
														<h3>History</h3> 
														{% if user.is_authenticated %}
														<b><a href="/createClimbActivity">Add A New Climbing Activity</a></b>
														{% endif %}
														<p>
															{% for activity in user.activities.all %}
															{{activity.locName}}, {{activity.distance}}m, {{activity.date}}, {{activity.timeCompleted}} <br>
															{% endfor %}
														</p>
														<h3>Summary</h3>
														Total Route Climbed: {{user.account.totalRoute}} <br>
														Total Distance Climbed: {{user.account.totalDistance}}m
														<br> <br>
														<h3>Statistics</h3>
														<h5>Last Week</h5>
														<p>
															Total Route Climbed: {{result.total_route_climbed_last_week}} <br>
															Total Distance Climbed: {{result.total_dist_last_week}}m <br>
															Average Time Per Climbing: {{result.time_per_route_week}} &#40;hh:mm:ss&#41;<br>
															Average Distance Per Climbing: {{result.distance_per_route_week}}m <br>
														</p>
														<h5>Last Month</h5>
														<p>
															Total Route Climbed: {{result.total_route_climbed_last_month}} <br>
															Total Distance Climbed: {{result.total_dist_last_month}}m <br>
															Average Time Per Climbing: {{result.time_per_route_month}} &#40;hh:mm:ss&#41; <br>
															Average Distance Per Climbing: {{result.distance_per_route_month}}m <br>
														</p>
													</div>
													<a href="/moveup/2/"><u>Move Up</u></a>
												</div>
											{% else %}
												<div class="user-profile-card">
													<div class="favourite-activities">
														<h3>History</h3> 
														{% if user.is_authenticated %}
														<b><a href="/createClimbActivity">Add A New Climbing Activity</a></b>
														{% endif %}
														<p>
															{% for activity in user.activities.all %}
															{{activity.locName}}, {{activity.distance}}m, {{activity.date}}, {{activity.timeCompleted}} <br>
															{% endfor %}
														</p>
														<h3>Summary</h3>
														Total Route Climbed: {{user.account.totalRoute}} <br>
														Total Distance Climbed: {{user.account.totalDistance}}m
														<br> <br>
														<h3>Statistics</h3>
														<h5>Last Week</h5>
														<p>
															Total Route Climbed: {{result.total_route_climbed_last_week}} <br>
															Total Distance Climbed: {{result.total_dist_last_week}}m <br>
															Average Time Per Climbing: {{result.time_per_route_week}} &#40;hh:mm:ss&#41;<br>
															Average Distance Per Climbing: {{result.distance_per_route_week}}m <br>
														</p>
														<h5>Last Month</h5>
														<p>
															Total Route Climbed: {{result.total_route_climbed_last_month}} <br>
															Total Distance Climbed: {{result.total_dist_last_month}}m <br>
															Average Time Per Climbing: {{result.time_per_route_month}} &#40;hh:mm:ss&#41; <br>
															Average Distance Per Climbing: {{result.distance_per_route_month}}m <br>
														</p>
													</div>
													<a href="/moveup/2/"><u>Move Up</u></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/movedown/2/"><u>Move Down</u></a>
												</div>
												<div class="user-profile-card">
													<h3>About</h3>
													<b><a href="/editAbout/{{user.id}}">Edit About</a></b>
													<div class="details">
														<p>
															{{user.account.about|linebreaksbr}}
														</p>
													</div>
													<a href="/moveup/1/"><u>Move Up</u></a>
												</div>
											{% endif %}
										{% endif %}
										
									</div>
								</div>
							</div>
							{% endif %}
						{% else%}
						<h1>Please Login First</h1>
						<a href="/loginUser" class="btn btn-secondary me-2">Log In</a>
						{% endif %}
					</div>	
			</div>

		<!-- End Hero Section -->
        		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">
				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="{% static 'images/envelope-outline.svg' %}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">GoClimb<span>.</span></a></div>
						<p class="mb-4">Where Climbing meets peak</p>
						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="/index">Home</a></li>
									<li><a href="/forum">Forum</a></li>
									<li><a href="/contact">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Knowledge base</a></li>
									<li><a href="#">Live chat</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Our team</a></li>
									<li><a href="#">Leadership</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

						</div>
					</div>

				</div>
			</div>
		</footer>
		<!-- End Footer Section -->	

		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<!--<script src="js/tiny-slider.js"></script>-->
		<script src="{% static 'js/custom.js' %}"></script>
	</body>

</html>